*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0 auto;

}

header {
    height: 90px;
    background-color: #8cc34b;
}

.logo__images {
    display: block;
    margin-left: 29px;
    margin-top: 14px;
    float: left;
   
    }

    .logo__images-link {
    max-width: 60px;    
    border-radius: 30px;
    }

.logo__bistrov-name {
    display: block;
    float: left;
    color: white;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    }


.logo__bistrov-link{
    display: block;
    opacity: 0.7;
    color: white;
    font-family: Roboto;
    margin-top: 6px;
    font-size: 14.5px;
    font-weight: 400;
    text-decoration-line: none;
}

.logo__bistrov{
    margin-left: 19px;
    margin-top: 25px;
    float: left;
}

/*///////////////////////////////////*/
.nav {
    margin-right: 30px;
    float: right;
    margin-top: 22px;
}

.nav__vk {
    display: inline-block;
    margin-top: 4px;
}

.nav_item {
    margin-left: 20px;
    display: inline-block;
}

.nav__link i {
    color: #fff;
    font-size: 40px;
    opacity: 0.7;
    transition: all .3s ease-in-out;
}

.nav__link i:hover {
    opacity: 1; 
}

/*////////////////////////////*section 2*/

.apprentice__hello {
    width: 436px;
    float: left;
}
.apprentice_two-section {
    width: 920px;
    margin-top: 41px;
}

.apprentice__future  {
    margin-top: 75px;
    text-align: center;
    color: #212121;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    line-height: 28px;
}

.appretice__loftschool {
    margin-top: 19px;
    text-align: center;
    color: #727272;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    display: block;
}

.apprentice__hello_me {
    float: left;
    margin-left: 22px;
    color: #212121;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

.apprentice__hello_images {
    float: left;
}

.apprentice__hello_piter{
    float: left;
    margin-left: 21px;
    width: 275px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #727272;
}
.apprentice__hello_yandex{
    color: #03a9f4;
text-decoration: underline;
}

 /*///////////////////////////////*/

 .apprentice__experiens {
    width: 439px;
    margin-left: 45px;
    float: left;
}

.apprentice__experiens-images {
    float: left; 
}

.apprentice__experiens_description{
    width: 280px;
    float: left;
    margin-left: 19px;
    color: #727272;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.apprentice__experiens_my{
    float: left;
    margin-left: 19px;
    color: #212121;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}

/* section main*/
.courses{
    margin-top: 73px;
    background-color: #f6f7f2;
    background-image: url(./images/bg.jpg)
}

.loftblog{
    color: #212121;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    display: block;
    text-align: center;
    padding-top: 80px;
}

.help{
    margin-top: 23px;
    color: #727272;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    display: block;
    text-align: center;
}

/*js//////////////////////////////////////*/

.courses-list {
    width: 943px;
    margin: 0 auto;
    margin-top: 45px;
}

.course {
    float: left;
    width: 300px;
    cursor: pointer;
    background-color: #ffffff;
    list-style-type: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-right:20px;
}
.course:nth-child(3n){
    margin-right:0px;
}

.course:nth-child(n+3){
margin-bottom:68px;
}

.course-info {
    position: relative;
    padding: 10px;
}

.course__title {
    color: #212121;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 15px;    
}

.course__description {
    color: #727272;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 20px;
}

.course__duration {
    color: #b6b6b6;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.course-info:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0px;
    top: -5px;
    left: 0px;
    transition: width .5s ease-in-out;
    background-color: green;
}

.course:hover .course-info:before {
    width: 300px;
}

.course:hover .course__title {
    color: #8cc34b;
}

.course__checked {
    padding-left: 21px;
    padding-bottom: 19px;
    padding-top: 20px;
}

.styled-checkbox {
    opacity: 0; 
    margin-left: 20px;
    position: absolute;
}

.styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
.styled-checkbox + label:before {
    content: '';
    margin-right: 19px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: #eee;
  }
  
  .styled-checkbox:hover + label:before {
    background: #a7d075;
  }
  .styled-checkbox:checked + label:before {
    background: #a7d075;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background:#b6b6b6;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 8px;
    background: white;
    width: 3px;
    height: 3px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
  
 label {
    color: #9e9e9d;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
 }

 .styled-checkbox {
     display: block;
     padding-left: 19px;
     margin-right: 20px;
 }  
 .l {
     display: block;
     padding-left: 100px;
 }

/*///footer////// */

.footer{
    height: 72px;
    background-color: #212121;

}

.footer__discrition{
    width: 509px;
    height: 37px;
    opacity: 0.5;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding: 19px 0px 13px 0px;
}

